.card {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--card-shadow);
  border-radius: 12px;
}

.sidebar {
  width: 80%;
}
.layout-container .layout-content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout-container .layout-content {
  flex: 1;
}
.layout-topbar .topbar-end .topbar-menubutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  transition: background-color var(--transition-duration);
}
.topbar-menu .active-route {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
